@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@media (max-width: 600px) {
  html{
    background-color: black;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #cf1b1b;
  border: 3px solid #1f1f1f;
}

::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}
